/* CSS Document */

*
{
padding:0;
margin:0;
}
body
{
font-family: 'Roboto', sans-serif;
background: #fcfcfc none repeat scroll 0 0;
}
.container {
  box-sizing: border-box;
  float: left;
  padding: 0 20px;
  width: 100%;
  
}
.wrapper {
  float: left;
  width: 60%;
}
.lang_div li:last-child a {
  border-right: medium none;
}
.lang_div .active > a {
  color: #0c5dc6;
}
.lang_div a {
  border-right: 2px solid #000;
  color: #000;
  font-size: 18px;
  padding: 0 8px;
}
.lang_div li {
  display: inline-block;
}
.lang_div {
  float: left;
  text-align: right;
  width: 100%;
}
.logo_div {
  float: left;
  text-align: center;
  width: 100%;
}
.content_div {
  text-align: center;
  width: 100%;
  margin:0px auto;
}
.content_div h3 {
  background: #0c5dc6 none repeat scroll 0 0;
  box-sizing: border-box;
  clear: both;
  color: #fff;
  float: left;
  font-size: 26px;
  margin-top: 37px;
  padding: 18px 12px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.content_div h3 a{color:#FFFFFF; display:block; text-decoration:none;}
.inner_content strong {
  color: #d0422a;
  float: left;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.inner_content li {
  float: left;
  line-height: 30px;
  list-style: outside none none;
  margin-bottom: 13px;
  width: 100%;
}
.inner_content .mnger_frst li {
  margin-bottom: 0px;
}
.inner_content label {
  font-size: 15px;
  font-weight: 600;
  margin-right: 14px;
  text-transform: uppercase;
  width: auto;
}
.inner_content a {
  color: #000;
  float: left;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
}
.inner_content a.forgotpwd, .inner_content a.loginp {
  color: #000;
  float: left;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.inner_content input[type="text"], .inner_content input[type="password"] {
  background: #f1d4d6 none repeat scroll 0 0;
  border: 1px solid #f1d4d6;
  border-radius: 0;
  color: #000;
  height: auto;
  line-height: 26px;
  margin-bottom: 8px;
  padding: 7px 13px;
}
.inner_content input {
  border: medium none;
  padding: 10px 18px;
    width: 28%;
}
.inner_content .submit {
  background: #fe0000 none repeat scroll 0 0;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 28px;
  text-align: center;
  text-transform: capitalize;
  width: auto;
}
.inner_content form {
  float: left;
  margin-top: 24px;
  width: 100%;
}
.driver_div strong {
  margin-bottom: 34px;
}
.driver_login .inner_content label {
  float: left;
  text-align: left;
  width: 30%;
}
.inner_content {
  float: left;
  margin-top: 40px;
  width: 100%;
}
.inner_content h3 a {
  color: #fff;
  float: left;
  font-size: 26px;
  font-weight: 600;
  width: 100%;
}
.inner_content .searchbox-input {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #000;
  color: #000;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}
.search_headng {
  color: #0c5dc6;
  float: left;
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
  width: 100%;
}
.mnger_frst {
  float: left;
  margin: 18px auto 0;
  position: relative;
  width: 100%;
}
.list {
  float: left;
  width: 100%;
}

.inner_content .list strong {
  color: #000;
  float: left;
  font-size: 13px;
  text-align: left;
  width: 26%;
}
.list p {
  float: left;
  text-align: left;
  width: auto;
}
.detail_div {
  float: none;
  margin: 0 auto;
  width: 50%;
}
.mnger_frst:hover {
  background: rgba(225, 225, 225, 0.3) none repeat scroll 0 0;
  box-sizing: border-box;
  padding: 5px 10px;
}
.mnger_frst {
  background:#ffffff;
  box-sizing: border-box;
  padding: 5px 10px;
}
.select_div select {
  margin: 0 auto 20px;
  padding: 10px;
  width: 60%;
}
.select_div {
  float: left;
  margin-top: 23px;
  width: 100%;
}
/*********************************16-08-2016****************************************/
.logo_div {
margin-top: 30px;
}
.lang_div {
  float: right;
  margin-top: 20px;
  width: 65%;
}
.fa {
  font-size: 24px !important;
}
#vehicle_search.form-control {
  border: medium none;
  border-radius: 0;
  color: #000;
  height: auto;
  padding: 4px 13px;
}
.patent_submit .btn {
  background: #fe0000 none repeat scroll 0 0;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 9px 4px;
  text-align: center;
  text-transform: capitalize;
}

/******************************************sir css********************************************************************/
.popupimg{ text-align:center; width:100%;}
.okbox {
  background: #55cccc none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.popupbox h1 {
  color: #000;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}
.success{ color:#55cccc !important; font-weight:bold !important;   font-size: 20px !important;}
.popupbox  h1 {
  TEXT-ALIGN: CENTER;
  
}
.popupbox {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #eee;
  margin: 0 auto;
  width: 230px;
  padding: 30px 0px 0px 0px;
  position:fixed;
  left:50%;
  margin-left:-115px;
  top:50px;
  z-index:999999;
}
.popupbox.errorbox button.okbox {
   background: #ff0000 !important;
}
.popupbox.errorbox h1{color:#FF0000;}
.bodyoverlay{position:fixed; height:100%; width:100%; background:#000000; opacity:0.8; z-index:99999; top:0px; left:0px; display:block;}
.preloader {
   background: url(images/loading.gif) no-repeat #FFFFFF scroll 50px center;
  margin: 0 auto;
  width: 200px;
  position:fixed;
  left:50%;
  margin-left:-100px;
  top:50px;
  height:200px;
  z-index:999999;
  text-align:center;
  color:#0C5DC6;
  border-radius:50%;
}

#towingdetails img{max-width:100px;}
.clr{clear:both;}
.field {
  line-height: 31px;
  margin: 5px auto 16px;
  text-align: left;
  width: 50%;
}
.field .form-control {
  background-color: #f1d4d6;
  background-image: none;
  border: 0 none;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-size: 14px;
  height: 25px;
  line-height: 30px;
  padding: 2px 5px;
  width: 100%;
}
.m-signature-pad--body canvas {
  background: #f1d4d6 none repeat scroll 0 0;
}
.field select.form-control {
  background: #f1d4d6 none repeat scroll 0 0;
  border: 1px solid #f1d4d6;
  border-radius: 0;
  height: auto;
  padding: 10px 18px;
}
.field textarea.form-control {
	height: 100px;
}
.menu_div li {
  list-style: outside none none;
  padding: 0 12px;
}
.menu_div {
  float: left;
  margin-top: 14px;
  position: relative;
  width: 32%;
}
.menu_div li { border-bottom: 1px solid #fff; box-sizing: border-box; line-height: 28px;list-style: outside none none;width: 100%;}
.menu_div a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
}
.menu_div li:last-child {
  border-bottom: medium none;
}
.menu_div > ul {
  background: #0c5dc6 none repeat scroll 0 0;
  box-sizing: border-box;
  float: left;
  padding: 10px 0;
  position: absolute;
  top: 32px;
  width: 240px;
}
.menu_div > ul {
  position: absolute;
  top: 33px;
}
ul.menus{left:-260px;}
.superadmin, .admin, .driver, .userf{display:none;}
.buttons, button, .btn {
    margin-bottom: 5px;
    margin-right: 5px;
}
.btn {
    border-radius: 0;
}
.btn-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
  font-size: 17px;
  margin-top: 13px;

}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.item > img {
    max-width: 100%;
}
.inner_content .add-new {
  color: #fff;
  float: none;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0 auto;
}
#images{width:100%;}
#images img{width:100%;}
#images .img{width:100%; position:relative;}
#images .closeimg{position:absolute; right:14px; width:25px; border-radius:50%; height:25px; top:10px; display:block; background:#e4e4e4; color:#FF0000; font-weight:bold; font-size:20px; line-height:25px}
.cmra {
    margin: 0 auto;
    width: 50px;
}

/********************************************responsive startss***************************************************************/
@media only screen and (max-width:1024px) {
.wrapper {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.inner_content {
margin-top:0px;
}
}
@media only screen and (max-width: 480px) {
.inner_content strong {
  font-size: 18px;
  margin-top: 15px;
}
.inner_content .towingreasons input {
  width: 14%;
  float: none;
}
.inner_content .towingreasons label {
  float: left;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  margin-right: 14px;
  text-transform: uppercase;
  width: 100%;
}
.select_div {
margin-top: 0;
}


.wrapper {
  float: left;
  width: 100%;
}
.content_div h3 {
  float: left;
  width: 100%;
}
.inner_content input {
width: 57%;
}
.detail_div {
  float: left;
  margin: 0 auto;
  width: 100%;
}
.inner_content input {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.inner_content .submit {
  float: none;
  margin: 0 auto;
}
.inner_content li {
  float: left;
  line-height: 30px;
  list-style: outside none none;
  margin-bottom: 19px;
  width: 100%;
}
.inner_content h3 a {
font-size: 20px;}
.field {
  float: left;
  
  width: 100%;
}
.menu_div a {
  color: #fff;
  font-size: 15px;
  line-height: 35px;
}

}
@media only screen and (max-width: 360px) {
.driver_login .inner_content input {
  float: left;
  width: 57%;
}
.driver_login .inner_content label {
  float: left;
  text-align: left;
  width: auto;
}
.inner_content strong {
  font-size: 18px;
}
.content_div h3 {
font-size: 20px;
}
.inner_content .list strong {
  float: left;
  width: 100%;
}
.btn-success {
 width: 50%;
}
}

.m-signature-pad--body > img {
    width: 100%;
}
.overlay_div > a {
    margin-right: 10px;
}
a.loadmore {
    background: #0c5dc6 none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff !important;
    font-size: 20px !important;
    font-weight: bold !important;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}
.btn.btn-default.savesignature:disabled {
    background: #ccc none repeat scroll 0 0;
}
.vlist{text-align:left;}
.vehiclilist{border:1px solid #000000;}
.towdetail{color:#990000;}